node_modules
.git
.gitignore
Dockerfile
docker-compose.yml
*.log
.env*
dist
.github
.vscode
docs
./docs
.frontend-server-prod.env
.prettierrc.json
README.md
FRONTEND_GUIDE.md
ts_errors.txt
vitest.config.ts
tsconfig.vitest.json
env.d.ts
